@page
@model Bloggie.Web.Pages.Admin.Blogs.AddModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2 mb-5" >
    <div class="container">
        <h1>Add Blog Post</h1>
    </div>
</div>

<div>
    <div class="container">
        <form method="post">
          <div class="mb-3">
            <label for="heading" class="form-label">Heading</label>
            <input type="text" class="form-control" id="heading" asp-for="AddBlogPostRequest.Heading">
          </div>

            <div class="mb-3">
                <label for="PageTitle" class="form-label">Page Title</label>
                <input type="text" class="form-control" id="PageTitle" asp-for="AddBlogPostRequest.PageTitle">
            </div>

            <div class="mb-3">
                <label for="Content" class="form-label">Content</label>
                <textarea type="text" class="form-control" id="Content" asp-for="AddBlogPostRequest.Content"></textarea>
            </div>

            <div class="mb-3">
                <label for="ShortDescription" class="form-label">Short Description</label>
                <input type="text" class="form-control" id="ShortDescription" asp-for="AddBlogPostRequest.ShortDescription">
            </div>

            <div class="mb-3">
                <label for="FeaturedImageUrl" class="form-label">Featured Image Url</label>
                <input type="text" class="form-control" id="FeaturedImageUrl" asp-for="AddBlogPostRequest.FeaturedImageUrl">
            </div>

            <div class="mb-3">
                <label for="ImageHandle" class="form-label">Image Handle</label>
                <input type="text" class="form-control" id="ImageHandle" asp-for="AddBlogPostRequest.ImageHandle">
            </div>

            <div class="mb-3">
                <label for="Author" class="form-label">Author</label>
                <input type="text" class="form-control" id="Author" asp-for="AddBlogPostRequest.Author">
            </div>

            <div class="mb-3">
                <label for="PublishedTime" class="form-label">Published Time</label>
                <input type="date" class="form-control" id="PublishedTime" asp-for="AddBlogPostRequest.PublishedTime">
            </div>


            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="Visible" asp-for="AddBlogPostRequest.Visible">
                <label class="form-check-label" for="Visible">Is Visible</label>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          
        </form>
    </div>
</div>
